/* Home.css */

.nav-home-container {
  background: url('../../public/back23.png');
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0em;
  justify-content: center;
}

.menu-card {
  background-color: rgb(247, 247, 245);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 7px 4px;
  overflow: hidden;
  padding: 5px;
  width: 24%; /* Set the width of each card */
}

.day-header {
  background-color: #707b87;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
}

.meals-container {
  padding: 15px;
}

.meal-section {
  margin-bottom: 10px;
}

.meal-time {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 17px;
}

.menu-item {
  margin-bottom: 8px;
  font-size: large;
}

.error-message {
  color: #e74c3c;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}
