{/* <select type="number" name="Fid" value={selectedFids[menuItem.Timeslot] || ''} onChange = {(e) => handleChange(e, menuItem.Timeslot)} required
    >
      <option value="" disabled >Select</option>
      <option value="1">Fname1</option>
      <option value="2">Fname2</option>
      <option value="3">Fname3</option>
      <option value="4">Fname4</option>
    </select> */}

<select
                type="number"
                name="Fid"
                value={selectedFids[`${day}-${menuItem.Timeslot}`] || ''}
                onChange={(e) => handleChange(e, `${day}-${menuItem.Timeslot}`)}
                required
              >
                <option value="" disabled>Select</option>
                {(day === 'SATURDAY' && menuItem.Timeslot === 'Morning') && (
                  <>
                    <option value="1">Fname1</option>
                    <option value="2">Fname2</option>
                  </>
                )}
                {(day === 'SUNDAY' && menuItem.Timeslot === 'Morning') && (
                  <>
                    <option value="3">Fname3</option>
                    <option value="4">Fname4</option>
                  </>
                )}
                {(day === 'SATURDAY' && menuItem.Timeslot === 'Afternoon') && (
                  <>
                    <option value="5">Fname5</option>
                    <option value="6">Fname6</option>
                  </>
                )}
                {(day === 'SUNDAY' && menuItem.Timeslot === 'Afternoon') && (
                  <>
                    <option value="7">Fname7</option>
                    <option value="8">Fname8</option>
                  </>
                )}
                {(day === 'SATURDAY' && menuItem.Timeslot === 'Night') && (
                  <>
                    <option value="9">Fname9</option>
                    <option value="10">Fname10</option>
                  </>
                )}
                {(day === 'SUNDAY' && menuItem.Timeslot === 'Night') && (
                  <>
                    <option value="11">Fname11</option>
                    <option value="12">Fname12</option>
                  </>
                )}
</select>